## {{ ansible_managed }}

# netdata configuration
#
# You can download the latest version of this file, using:
#
#  wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
# or
#  curl -o /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#

{% for section in netdata_config %}
[{{ section }}]
    {% for entry in netdata_config[section] %}
    {{ entry }} = {{ netdata_config[section][entry] }}
    {% endfor %}
{% endfor %}
